<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">LoueMonEx.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <%= link_to "Boyfriends' Home", root_path, class: "nav-link" %>
        </li>
    </ul>
      <%= form_tag search_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a boyfriend"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </form>


    <ul class="nav">
      <div class="dropdown">
        <a href="" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><img src="https://kitt.lewagon.com/placeholder/users/irenenasha" class="avatar" alt="Avatar"> Maya L'abeille <b class="caret"></b></a>
        <div class="dropdown-menu">
          <a href="/boyfriends/new" class="dropdown-item"><i class="fa fa-user-o"></i> Create a boyfriend</a>
          <a href="/users/sign_in" class="dropdown-item"><i class="fa fa-user-o"></i> Log In</a>
          <a href="/users/sign_up" class="dropdown-item"><i class="fa fa-signup-o"></i> Sign Up</a>
          <a href="/dashboard" class="dropdown-item"><i class="fa fa-sliders"></i> Dashboard</a>
          <div class="divider dropdown-divider"></div>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      <div>
    </ul>

  </div>
</nav>

<script>
window.addEventListener('load', function () {
  console.log('Cette fonction est exécutée une fois quand la page est chargée.');
});
</script>
