<div class="container">
  <div class="container">
    <div class="card" style="width: 25rem; margin-top: 16px">
      <% if @boyfriend.photos.attached? %>
        <%= cl_image_tag @boyfriend.photos.first.key, class: "card-img-top", height: 250, width: 150 %>
      <% else %>
        <%= cl_image_tag 'missing_bf', class: "card-img-top", height: 250, width: 150 %>
      <% end %>
      <div class="card-body">
        <div class="card-text">
          <h1><%= @boyfriend.name %></h1>
        <br>
          <h4>Description</h4>
          <p><%= @boyfriend.description %></p>
        </div>
      </div>
      <div class="card-footer">
        <%= link_to 'Back to the menu', root_path, class: 'link-primary' %>
      </div>
      <div class="card-footer">
          <%= link_to edit_boyfriend_path(@boyfriend) do%>
          update Boyfriend
          <% end %>
      </div>
    </div>

  </div>
    <div class ="resa">
      <%= simple_form_for [@boyfriend,Reservation.new],
      wrapper: :horizontal_form,
  wrapper_mappings: {
    boolean:       :horizontal_boolean,
    check_boxes:   :horizontal_collection,
    date:          :horizontal_multi_select,
    datetime:      :horizontal_multi_select,
    file:          :horizontal_file,
    radio_buttons: :horizontal_collection,
    range:         :horizontal_range,
    time:          :horizontal_multi_select
    } do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :ville, collection: Boyfriend::VILLE %>
      <%= f.input :services, as: :radio_buttons, collection: Boyfriend::SERVICES %>
      <%= f.submit "request reservation", class: "btn btn-primary" %>

      <% end %>
  </div>
</div>


