<h1>Your Dashboard</h1>
<h2> Vos achats </h2>
  <div class="container">
    <% @myreservations.each do |reservation| %>
      <div class="card" style="width: 18rem; height: 350px">
        <% if reservation.statut == "pending" %>
          <h3> Reservation en attente de confirmation </h3>
        <% elsif reservation.statut == "confirmed" %>
          <h3> Reservation confirmée par le vendeur </h3>
        <% else %>
          <h3> Réservation refusée </h3>
        <% end %>
        <h5><%= reservation.boyfriend.name %></h5>
        <p><%= reservation.boyfriend.age%> ans</p>
        <p><%= reservation.boyfriend.ville %></p>
      <div class="card-index-footer">
        <p> du <%= reservation.start_date %></p>
        <p> au <%= reservation.end_date %></p>
        <p><%= reservation.boyfriend.price %> € / jour</p>
         <%= link_to 'Annuler', reservation_path(reservation), method: :delete, class: 'btn btn-outline-danger btn-block' %>
      </div>
    </div>
    <% end %>
  </div>

<h2> Vos Exs </h2>
  <div class="container">
    <% @myboyfriendsreservations.each do |reservation| %>
      <% if reservation.statut == "pending"%>
       <div class="card" style="width: 18rem; height: 350px">
          <h3> Reservation à confirmer </h3>
          <h5><%= reservation.boyfriend.name %></h5>
          <p><%= reservation.boyfriend.ville %></p>
        </div>
        <div class="card-index-footer">
          <p> du <%= reservation.start_date %></p>
          <p> au <%= reservation.end_date %></p>
          <p> <%= reservation.boyfriend.price %> € / jour</p>
          <%= link_to 'Confirmer', reservation_path(reservation, statut: "confirmed"), method: :patch, class: 'btn btn-primary btn-block' %>
          <%= link_to 'Refuser', reservation_path(reservation, statut: "refused"), method: :patch, class: 'btn btn-warning btn-block' %>
        </div>
      <% elsif reservation.statut == "confirmed"%>
          <div class="card" style="width: 18rem; height: 350px">
            <h3> Reservation confirmée </h3>
            <h5><%= reservation.boyfriend.name %></h5>
            <p><%= reservation.boyfriend.ville %></p>
              <div class="card-index-footer">
                <p> du <%= reservation.start_date %></p>
                <p> au <%= reservation.end_date %></p>
                <p><%= reservation.boyfriend.price %> €/ jour</p>
                <%= link_to 'Refuser', reservation_path(reservation, statut: "refused"), method: :patch, class: 'btn btn-warning btn-block' %>
              </div>
          </div>
      <% else %>
        <div class="card" style="width: 18rem; height: 350px">
          <h3> Reservation annulée </h3>
          <h5><%= reservation.boyfriend.name %></h5>
          <p><%= reservation.boyfriend.ville %></p>
            <div class="card-index-footer">
              <p> du <%= reservation.start_date %></p>
              <p> au <%= reservation.end_date %></p>
              <p><%= reservation.boyfriend.price %> €/ jour</p>
              <%= link_to 'Confirmer', reservation_path(reservation, statut: "confirmed"), method: :patch, class: 'btn btn-primary btn-block' %>
            </div>
        </div>
    <% end %>
      <% end %>
  </div>




